<header>
    <div class="container">
        <div class="logo">
            <h1>{ENV.PROJECT_TITLE}</h1>
        </div>
        <ul class="menu">
            <li><a href="/showcase">Showcase</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/templates">Templates</a></li>
            <li><a href="/enterprise">Enterprise</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="right-menu">
            <a href="/login">Documentation</a>
        </div>
    </div>
</header>