<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <h1>{ENV.PROJECT_TITLE}</h1>
            </a>
        </div>
        <ul class="menu">
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/marketplace">Marketplace</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="right-menu">
            <a href="/documentation">Documentation</a>
        </div>
    </div>
</header>