<div class="hero-section">
    <div class="container">
        <div class="hero-section-content">
            <h1>{ENV.PROJECT_TITLE} <span style="color:rgb(255, 213, 0);">JavaScript</span> Framework</font></h1>
            <p>Hangatkan Rasa. Modulasi Kata. Indahkan Dunia.<br/>Halo</p>
            <div class="hero-section-content-buttons">
                <a href="/marketplace" class="btn">Marketplace</a>
                <a href="/documentation" class="btn">Learn {ENV.PROJECT_TITLE}</a>
            </div>
        </div>
    </div>
</div>